.new-account-div {
    background: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-account-form {
    display: flex;
    flex-direction: column;
}

.new-account-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 32px;
}

.new-account-form button {
    background-color: aquamarine;
    padding: 10px;
    font-size: 32px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sub-links {
    display: flex;
    justify-content: space-between;
}