
.header-main-div {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: var(--padding-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    width: 200px;

  a {
    color: var(--logo-text-color);
    text-decoration: none;
    font-weight: 700;
    transition: opacity .2s ease;
    cursor: pointer;
  }

  &:hover {
    opacity: .8;
  }
}

.header-menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: var(--padding-base);

  &:last-child {
    margin-right: 0;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--secondary-color);
    }
  }
}

.logout-btn {
  padding: calc(var(--padding-base) * 0.5) var(--padding-base);
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;

  &:hover {
    background-color: var(--hover-color);
  }
}

@media (max-width: 768px) {
  .header-main-div {
    flex-direction: column;
    align-items: flex-end;
  }

  .header-menu-list {
    margin-top: var(--padding-base);
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: calc(var(--padding-base) * 0.8);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
