<div class="rankings-container">
  <div class="albums-grid">
    <div *ngFor="let album of albums" class="album-container">
      <a [routerLink]="album.routerLink" class="album-link">
        <img [src]="album.coverImage" [alt]="album.title" class="album-cover"
             (mouseenter)="playSample(album, $event)" 
             (mouseleave)="stopSample(album)">
        <img [src]="shelfImage" alt="Shelf" class="shelf-image">
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
