<footer class="footer-main-div">
    <div class="footer-content">
      <div class="footer-logo">
        <a routerLink="./userHome"><img class="logo" src="https://d3e29z0m37b0un.cloudfront.net/graphics/Logo+New.svg" alt="Logo"></a>
      </div>
      <div class="footer-links">
        <div class="footer-links-column">
          <ul>
            <li><a routerLink="./userHome">Home</a></li>
            <li><a routerLink="./about">About</a></li>
            <li><a routerLink="./rankings">Album Rankings</a></li>
            <li><a routerLink="./top13list">Top 13 List</a></li>
          </ul>
        </div>
        <div class="footer-links-column">
          <ul>
            <li><a routerLink="./erasTourBuilder">Eras Tour Builder</a></li>
            <li><a routerLink="./userProfile">My Profile</a></li>
            <li><a routerLink="./contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <p>Copyright 2024 Swiftie Ranking Hub</p>
    </div>
  </footer>