<div class="song-slot">
  <div class="ranking-box">
    <p>{{ slotIndex }}</p>
  </div>
  
  <div class="song-content">
    <div class="song-search-card" *ngIf="!selectedSong">
      <div class="dropdown-parent">
        <input class="search-input" type="text" [(ngModel)]="searchQuery" placeholder="Search for a song" (input)="searchSongs()">
        <div class="search-dropdown" *ngIf="searchResults.length > 0">
          <div class="dropdown-option" *ngFor="let song of searchResults" (click)="selectSong(song)">
            {{ song.title }}
          </div>
        </div>
      </div>
    </div>

    <div class="chosen-song-card" *ngIf="selectedSong" [ngStyle]="{'background-image': albumTheme.backgroundImage}">
      <div class="overlay" [ngStyle]="{'background': albumTheme.overlay}"></div>
      <div class="chosen-song-card-content">
        <button class="reset-button" (click)="resetSong()" aria-label="Reset song">X</button>
        <div class="album-cover-div">
          <img class="album-cover" [src]="selectedSong.albumImageSource" [alt]="selectedSong.album + ' Cover'" (error)="handleImageError($event)">
        </div>
        <div class="title-audio-div">
          <div class="chosen-song-details-div">
            <h3 class="song-title">{{ selectedSong.title }}</h3>
            <p class="album-name">{{ selectedSong.album }}</p>
          </div>
          <audio controls 
          (play)="handleAudioPlay($event)" 
          (error)="handleAudioError($event)" 
          controlsList="nodownload">
     <source [src]="selectedSong.audioSource" type="audio/mpeg">
     Your browser does not support the audio element.
   </audio>
        </div>
      </div>
    </div>
  </div>
</div>