<div class="era-widget" [ngStyle]="{'background-image': 'url(' + getAlbumCover(era.era) + ')'}">
  <div class="overlay"></div>
  <h2>{{ era.era }}</h2>
  <div class="song-slots">
    <ng-container *ngIf="era.era === 'Surprise Songs'; else normalSlots">
      <div class="song-slot">
        <label for="guitarSong">
          <i class="fas fa-guitar"></i> On guitar:
        </label>
        <span *ngIf="guitarSong.title">{{ guitarSong.title }} <button class="remove-button" (click)="removeSurpriseSong('guitar')">x</button></span>
        <button *ngIf="!guitarSong.title" (click)="openAddSongDialog('guitar')">Add Song</button>
      </div>
      <div class="song-slot">
        <label for="pianoSong">
          <img class="piano-icon" src="https://d3e29z0m37b0un.cloudfront.net/graphics/pianoIcon.svg"> On piano:
        </label>
        <span *ngIf="pianoSong.title">{{ pianoSong.title }} <button class="remove-button" (click)="removeSurpriseSong('piano')">x</button></span>
        <button *ngIf="!pianoSong.title" (click)="openAddSongDialog('piano')">Add Song</button>
      </div>
    </ng-container>
    <ng-template #normalSlots>
      <div *ngFor="let song of era.songs; let i = index" class="song-slot">
        <p>{{ song.title }}</p>
        <button class="remove-button" (click)="removeSong(i)">x</button>
      </div>
      <button 
        (click)="openAddSongDialog()" 
        [disabled]="era.songs.length >= 6" 
        [title]="era.songs.length >= 6 ? 'Only 6 songs allowed in an era set!' : ''">
        Add Song
      </button>
    </ng-template>
  </div>
</div>

<!-- Add Song Dialog -->
<div *ngIf="showAddSongDialog" class="add-song-dialog">
  <div class="dialog-content">
    <h3>Add Song</h3>
    <ng-container *ngIf="era.era === 'Surprise Songs'; else albumSongs">
      <input [(ngModel)]="selectedSongTitle" placeholder="Enter song or mashup" />
    </ng-container>
    <ng-template #albumSongs>
      <div class="mashup-option">
        <label>
          <input type="checkbox" [(ngModel)]="isMashup" (change)="onMashupToggle()"/> Is this number a mashup?
        </label>
      </div>
      <ng-container *ngIf="!isMashup">
        <div class="song-selection">
          <select [(ngModel)]="selectedSongTitle">
            <option value="">Select a song</option>
            <option *ngFor="let song of allSongs" [value]="song._id">{{ song.title }}</option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="isMashup">
        <div class="mashup-selection">
          <select [(ngModel)]="firstSongId">
            <option value="">Select first song</option>
            <option *ngFor="let song of allSongs" [value]="song._id">{{ song.title }}</option>
          </select>
          <span>/</span>
          <select [(ngModel)]="secondSongId">
            <option value="">Select second song</option>
            <option *ngFor="let song of allSongs" [value]="song._id">{{ song.title }}</option>
          </select>
        </div>
      </ng-container>
    </ng-template>
    <div class="dialog-actions">
      <button (click)="songType ? saveSurpriseSong() : saveSong()" 
              [disabled]="!canSaveSong()">
        Save
      </button>
      <button (click)="closeAddSongDialog()">Cancel</button>
    </div>
  </div>
</div>
