/* Global Styles */
html,
body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #344055;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Hero Section */
.hero,
.home-container {
  max-width: 100vw;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  padding: 2.5rem 0;
  position: relative;
  margin-bottom: 3rem;
  overflow: hidden;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.video-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.video-grid-overlay,
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(52, 64, 85, 0.5)
  );
  z-index: 9;
}

.background-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(52, 64, 85, 1)
  );
  z-index: 10;
}

.hero-content {
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}

.hero-graphic {
  flex: 1;
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
  z-index: 13;
}

.hero-graphic img {
  width: 100%;
  height: auto;
}

.song-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.song-item {
  position: absolute;
  display: flex;
  width: 40%;
  max-width: 21.875rem;
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform;
}

.song-item:hover {
  transform: translateY(-0.3125rem) rotate(2deg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.song-item:nth-child(1) {
  top: 30%;
  right: 30%;
}
.song-item:nth-child(2) {
  top: 42%;
  right: 25%;
}
.song-item:nth-child(3) {
  top: 54%;
  right: 20%;
}
.song-item:nth-child(4) {
  top: 66%;
  right: 28%;
}
.song-item:nth-child(5) {
  top: 79%;
  right: 18%;
}

.ranking-box {
  width: 15%;
  min-width: 1.875rem;
  max-width: 2.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #344055;
}

.song-card {
  flex-grow: 1;
  position: relative;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.song-card-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0.3125rem;
}

.album-cover-div {
  width: 20%;
  min-width: 2.5rem;
  max-width: 3.125rem;
  height: 100%;
  margin-right: 0.625rem;
  overflow: hidden;
  border-radius: 0.3125rem;
}

.album-cover-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-details-div {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.song-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 0 0.125rem 0;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-name {
  font-size: 0.7rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-text {
  flex: 1;
  color: #fff;
  max-width: 31.25rem;
}

.hero-text h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  color: #fff;
}

.hero-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #e7e7e7;
}
/* Teaser Cards */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 2rem 0;
}

.card {
  flex: 1 1 calc(20% - 1.5rem); /* Adjusts to fit 5 cards in a row */
  max-width: 12rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 50px;
  height: auto;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #344055;
}

.card p {
  font-size: 1rem;
  color: #666;
}

/* Home Container */
.home-container {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  background-color: #344055;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.explore-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explore-button:hover {
  background-color: #0056b3;
}

.widget {
  background: white;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  flex: 1 1 45%;
  box-sizing: border-box;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.widget.surprise-songs {
  background-image: url("https://d3e29z0m37b0un.cloudfront.net/surpriseSongs.png");
  background-size: cover;
  background-position: center;
}

.widget.widget.surprise-songs h2 {
  color: white;
}

.widget.widget.surprise-songs p {
  color: rgb(213, 213, 213);
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.view-all-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.view-all-btn:hover {
  background-color: #0056b3;
}

h2 {
  margin: 10px 0px 20px 0px;
}

p {
  margin: 0px 0px 20px 0px;
  color: #494949;
}

/* Media Queries */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .main-content .widget {
    flex: 1 1 100%;
  }

  .widget-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .view-all-btn {
    margin-top: 10px;
    align-self: flex-end;
  }

  .hero {
    padding: 1.25rem 0;
  }

  .hero-content {
    flex-direction: column-reverse;
  }

  .hero-text {
    text-align: center;
    padding: 1.25rem 0;
  }

  .hero-graphic .song-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-graphic .song-item {
    margin: 0.625rem auto;
  }

  .card {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0px 20px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-graphic .song-item {
    width: 50%;
  }

  .ranking-box {
    font-size: 0.9rem;
  }

  .song-title {
    font-size: 0.8rem;
  }

  .album-name {
    font-size: 0.6rem;
  }

  .widget {
    min-width: none;
  }
}
