<div class="hero">
    <div class="hero-content">
      <div class="hero-graphic">
        <img src="https://all-taylor-swift-album-covers.s3.us-east-2.amazonaws.com/graphics/HeroGraphicSimple.png" alt="Hero Graphic">
        <div class="song-items">
          <div class="song-item" *ngFor="let song of displayedSongs; let i = index" 
               [style.top]="30 + i * 12 + '%'" [style.right]="30 - i * 2 + '%'">
            <div class="ranking-box">
              <span>{{ i + 1 }}</span>
            </div>
            <div class="song-card" [ngStyle]="{'background-image': 'url(' + song.albumCover + ')'}">
              <div class="overlay" [ngStyle]="{'background': song.overlay}"></div>
              <div class="song-card-content">
                <div class="album-cover-div">
                  <img [src]="song.albumCover" [alt]="song.albumName + ' Cover'">
                </div>
                <div class="song-details-div">
                  <h3 class="song-title">{{ song.title }}</h3>
                  <p class="album-name">{{ song.albumName }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-text">
        <h1>Welcome to the Swiftie Ranking Hub!</h1>
        <p>Your personal hub to discover and rank your favorite Taylor Swift songs across all her albums.</p>
      </div>
    </div>
  </div>
  
  
  
  <div class="home-container">
    <section class="main-content">
        <div class="content-text">
            <h2>It's me, hi.</h2>
            <p>I’m Cullen, I’m enchanted to have you here! I’m a software engineer and web developer by day, but most importantly a Swiftie every other waking moment of my time.</p>
            <p>I always wanted a clear way to rank my top songs or sort the tracks in each album but I never found the right tool to do so. So I built one myself!</p>
            <p>Here you can rank your top 13 songs, sort the songs by album, and more! And the best part is it will all save and be here for you to come back to and obsess over (especially if Taylor releases new music).</p>
            <p>This was a passion project and labor of love and I’m happy to share it with you all and hope it brings you some joy! It is completely free but if you feel inclined to buy me a coffee as a thank you it’d be much appreciated.</p>
          </div>
          <div class="content-images">
            <!-- Add your images here -->
            <img src="https://all-taylor-swift-album-covers.s3.us-east-2.amazonaws.com/graphics/eras-arlington.jpeg" alt="Taylor Swift Tour">
            <img src="https://all-taylor-swift-album-covers.s3.us-east-2.amazonaws.com/graphics/eras-kansas.jpg" alt="Taylor Swift Tour">
            <img src="https://all-taylor-swift-album-covers.s3.us-east-2.amazonaws.com/graphics/eras-museum.jpeg" alt="Taylor Swift Museum">
          </div>
        </section>
</div>