.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-div {
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    padding: 10px 20px;
    margin-bottom: 10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #0056b3;
  }