@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import 'ngx-toastr/toastr';
.user-profile {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  font-family: inherit, sans-serif;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8; // Adjust this value to control the overlay intensity
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .welcome-div {
      background-color: rgba(255, 255, 255, 0.6);
      padding: 20px;
      border-radius: 10px;
      border: .5px solid white;
    }

    h1 {
      font-size: 2.5rem;
      margin: 10px 0px;
    }

    .theme-selector {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 10px;
      }

      select {
        border-radius: 10px;
        padding: 5px;
        font-size: 1rem;
      }
    }

   
    
    .share-btn {
      padding: calc(var(--padding-base) * 0.5) var(--padding-base);
      background-color: var(--secondary-color);
      color: var(--text-color);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      font-size: 1rem;
    
      &:hover {
        background-color: var(--hover-color);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .profile-content {
    display: flex;
    gap: 30px;
  }

  .top-13-list, .questionnaire {
    flex: 1;
  }

  .top-13-list {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px;
    border-radius: 10px;
    align-self: flex-start;

    h2 {
      margin-top: 0;
    }

    ol {
      padding-left: 10px;
    }

audio {
  width: 200px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  outline: 1px solid white;

  &::-webkit-media-controls-panel {
    background-color: none;
  }

  &::-webkit-media-controls-play-button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }

  &::-webkit-media-controls-current-time-display,
  &::-webkit-media-controls-time-remaining-display {
    color: black;
  }
}


    .song-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      background-color: rgba(255, 255, 255, 0.304);
      border: .5px solid white;
      border-radius: 10px;
      padding: 15px;
      transition: .2s ease-in;

      &:hover {
        background-color: rgba(186, 186, 186, 0.407);
      }

      .album-cover {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 15px;
      }

      .song-details {
        flex: 1;

        h3 {
          margin: 0 0 5px 0;
        }

        p {
          margin: 0;
          font-style: italic;
        }
      }

      audio {
        width: 200px;
      }
    }

    
  }

  .questionnaire {
    font-family: 'Caveat', cursive;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      font-size: 3em;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .question-list {
      .question-item {
        margin-bottom: 20px;

        .question {
          font-size: 2em;
          margin-bottom: 5px;
          font-weight: 600;
          transition: color 0.3s;
        }

        .answer {
          font-size: 1.8em;
          min-height: 30px;
          border-bottom: 1px dashed #ccc;
          padding: 5px;
          transition: background-color 0.3s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          &[contenteditable="true"] {
            background-color: rgba(255, 255, 255, 0.2);
            outline: none;
          }
        }
       
      }

     
    }

    .edit-button, .save-button {
      background-color: transparent;
      border: 2px solid #515151;
      color: #515151;
      padding: 5px 10px;
      font-family: 'Caveat', cursive;
      font-size: 1.3em;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 5px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

 // Theme-specific styles
 &.Debut::before {
  background-color: rgba(82, 253, 164, 0.7);
}

&.Fearless::before {
  background-color: rgba(255, 249, 196, 0.7);
}

&.SpeakNow::before {
  background-color: rgba(190, 53, 214, 0.7);
}

&.Red::before {
  background-color: rgba(150, 12, 12, 0.7);
}

&._1989::before {
  background-color: rgba(179, 229, 252, 0.7);
}

&.Reputation::before {
  background-color: rgba(42, 42, 42, 0.7);
}

&.Lover::before {
  background-color: rgba(255, 186, 249, 0.7);
}

&.Folklore::before {
  background-color: rgba(245, 245, 245, 0.7);
}

&.Evermore::before {
  background-color: rgba(219, 134, 30, 0.7);
}

&.Midnights::before {
  background-color: rgba(25, 25, 112, 0.7);
}

&.TorturedPoets::before {
  background-color: #E3E0C8;
}

// Theme text colors
&.Debut {
  color: #161c19;
  .questionnaire .question { color: #2474a5; }
}

&.Fearless {
  color: #232323;
  .questionnaire .question { color: #cbb50e; }
}

&.SpeakNow {
  color: #202020;
  .questionnaire .question { color: #5e039f; }
  // h1 { color: white;}
  label { color: white;}

}

&.Red {
  color:  #280909;
  .questionnaire .question { color: #b31800; }
  // h1 { color: white;}
  label { color: white;}

}

&._1989 {
  color: #202020;
  .questionnaire .question { color: #00CED1; }
}

&.Reputation {
  color: #202020;
  .questionnaire .question { color: #325e34; }
  // h1 { color: white;}
  label { color: white;}
  }

&.Lover {
  color: #202020;
  .questionnaire .question { color: #FF69B4; }
}

&.Folklore {
  color: #202020;
  .questionnaire .question { color: #708090; }
}

&.Evermore {
  color: #272727;
  .questionnaire .question { color: #8B4513; }
}

&.Midnights {
  color: #202020;
  .questionnaire .question { color: #3f4ffd; }
  // h1 { color: white;}
  label { color: white;}
}

&.TorturedPoets {
  color: #202020;
  .questionnaire .question { color: #686868; }
}
}

@media (max-width: 768px) {

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share-btn {
 max-width: 60%;
 margin: 10px auto;
}

.welcome-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin-bottom: 25px;
}

.top-13-list {
  width: 91.5%;
}

  .profile-content {
    flex-direction: column;
  }
}
