<div class="login-container">
  <div class="album-covers-container">
    <div #randomSquares class="random-squares"></div>
    <div class="album-columns" #albumColumns>
      <div class="column" *ngFor="let column of shuffledColumns; let columnIndex = index">
        <img *ngFor="let cover of column" 
             [src]="cover" 
             [alt]="'Album cover'"
             class="album-cover">
      </div>
    </div>
  </div>

  <!-- Right side with login form -->
  <div class="login-form-container">
    <h1>Welcome to the Swiftie Ranking Hub!</h1>
    
    <ng-container *ngIf="!isForgotPasswordMode; else forgotPasswordTemplate">
      <ng-container *ngIf="isLoginMode; else signupTemplate">
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
          <input type="text" formControlName="username" placeholder="Username or Email" name="username" required>
          <input type="password" formControlName="password" placeholder="Password" name="password" required>
          <button type="submit">Sign In</button>
        </form>
        <div class="sub-links">
          <a (click)="toggleMode()">Create Account</a>
          <a (click)="toggleForgotPasswordMode()">Forgot Password</a>
        </div>
      </ng-container>

      <ng-template #signupTemplate>
        <form [formGroup]="signupForm" class="login-form" (ngSubmit)="onSubmit()">
          <input type="text" formControlName="username" placeholder="Username" name="username" required>
          <input type="email" formControlName="email" placeholder="Email" name="email" required>
          <input type="password" formControlName="password" placeholder="Password" name="password" required>
          <button type="submit">Create Account</button>
          <p>Only one account per email allowed.</p>
        </form>
        <div class="sub-links">
          <a (click)="toggleMode()">Back to Login</a>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #forgotPasswordTemplate>
      <form [formGroup]="forgotPasswordForm" class="forgot-password-form" (ngSubmit)="onForgotPassword()">
        <input type="email" formControlName="email" placeholder="Enter your email" required>
        <button type="submit" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
      </form>
      <div class="sub-links">
        <a (click)="toggleForgotPasswordMode()">Back to Login</a>
      </div>
    </ng-template>
  </div>
</div>