<!-- song-slots.component.html -->
<!-- <div class="song-slots-container">
    <mat-grid-list cols="4" rowHeight="1:1" class="song-slot-wrapper" >
      <mat-grid-tile class="tile" *ngFor="let slot of slots; let i = index">
        <app-song-slot [slotIndex]="i"></app-song-slot>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

  <div class="view-toggle">
    <button (click)="toggleView('list')" [class.active]="viewMode === 'list'">List View</button>
    <button (click)="toggleView('grid')" [class.active]="viewMode === 'grid'">Grid View</button>
  </div>

  <div class="song-slots-container">
    <div [ngClass]="{'list': viewMode === 'list', 'grid': viewMode === 'grid'}">
      <div class="tile" *ngFor="let slot of slots; let i = index">
        <app-song-slot [slotIndex]="i"></app-song-slot>
      </div>
    </div>
  </div>
  
  