.album-ranking-container {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  overflow: hidden; 

  .back-btn {
    padding: calc(var(--padding-base) * 0.5) var(--padding-base);
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1rem;

    i {
      margin-right: 5px;
    }
  
    &:hover {
      background-color: var(--hover-color);
    }
  }

  // Background image
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://d3e29z0m37b0un.cloudfront.net/photo-grids/debut-grid.webp');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -2;
  }

  // Overlay
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
}

.media-column, .ranking-column {
  position: relative; 
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.media-column {
  align-self: flex-start; 
  padding: 10px; 
  margin-right: 20px; 
}

.album-cover {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ranking-column {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  background-color: #fff; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.content-div {
  margin-bottom: 20px;
  color: #333;

  h1 {
    font-size: 2rem;
    margin: 10px 0;
  }

  p {
    font-size: 1rem;
    color: #666;
  }
}

.helper-text {
  color: #9BD47D !important;
  font-style: italic;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #344055;
  border-radius: 5px;
  background-color: #fff;
  cursor: grab;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #9BD47D;
    color: white;
  }
}

.title-audio-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rank-number {
  width: 30px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.song-title {
  flex-grow: 1;
  padding-left: 10px;
  color: #333;
}

audio {
  width: 200px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  outline: 1px solid white;

  &::-webkit-media-controls-panel {
    background-color: none;
  }

  &::-webkit-media-controls-play-button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }

  &::-webkit-media-controls-current-time-display,
  &::-webkit-media-controls-time-remaining-display {
    color: black;
  }
}

@media (max-width: 768px) {
  .album-ranking-container {
    flex-direction: column;
    padding: 10px;
  }

  .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }

  .content-div {
    text-align: center;
  }

  .ranking-column {
    width: auto;
  }

  .media-column, .ranking-column {
    margin: 10px 0;
    padding: 10px;
  }

  .media-column {
    align-self: center; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .song-item {
    align-items: flex-start;
  }
  
  .song-title {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .title-audio-div {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  audio {
    width: 300px; 
  }
}

@media (max-width: 480px) {
  .song-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .song-title {
    width: 100%;
    text-align: center;
    padding: 0px;
  }

  audio {
    width: 100%;
    margin-top: 10px;
  }
}