.song-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .rank-number {
    width: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  .song-title {
    flex-grow: 1;
    padding-left: 10px;
  }

  span {
    flex-grow: 1;
  }

  audio {
     /* or any other size */
    margin-left: 10px;
  }
  

  