<div class="container">
    <div class="header-container">
      <img class="background-graphic" src="https://d3e29z0m37b0un.cloudfront.net/graphics/bracelets.webp" alt="Background Graphic">
      <div class="header-div">
        <h1 class="header-title">Question...?</h1>
        <h1 class="header-sub-title">Contact Me</h1>
      </div>
    </div>
  
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" class="form-input" placeholder="Your Name">
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error-message">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="form-input" placeholder="Your Email">
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
          Valid email is required.
        </div>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" formControlName="message" class="form-textarea" placeholder="Your Message"></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error-message">
          Message is required.
        </div>
      </div>
      <button type="submit" class="submit-button" [disabled]="!contactForm.valid || submitStatus === 'sending'">
        {{ submitStatus === 'sending' ? 'Sending...' : 'Send' }}
      </button>
      
      <div *ngIf="submitStatus === 'success'" class="success-message">
        Your message has been sent successfully!
      </div>
      
      <div *ngIf="submitStatus === 'error'" class="error-message">
        There was an error sending your message. Please try again later.
      </div>
    </form>
  </div>