<div class="password-reset-container">
  <h2>Reset Your Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">New Password</label>
      <div class="password-input-container">
        <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" required>
        <span class="password-toggle" (click)="togglePasswordVisibility('password')">
          <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>
      <div *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)" class="error-message">
        <div *ngIf="resetForm.get('password')?.errors?.['required']">Password is required.</div>
        <div *ngIf="resetForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
        <div *ngIf="resetForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter and one number.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password</label>
      <div class="password-input-container">
        <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword" required>
        <span class="password-toggle" (click)="togglePasswordVisibility('confirmPassword')">
          <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>
      </div>
      <div *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched" class="error-message">
        Passwords do not match.
      </div>
    </div>
    <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
  </form>
</div>