.song-slots-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

.song-slot {
    position: relative;
    display: flex;
    height: 100px;
}

p {
    margin: 0px;
}

.reset-button {
    cursor: pointer;
    position: absolute;
    font-size: 24px;
    padding: 10px;
    right: 5px;
    top: 5px;
    z-index: 10;
}

.song-search-card {
    background-color: rgb(186, 243, 243);
    position: relative;
    display: inline-block;
    padding: 25px;
    width: 100%;
    // margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-left: none;
}

.dropdown-parent {
    position: relative;
}

.search-input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    font-size: larger;
    min-width: 300px;
}
.search-dropdown {
    position: absolute;
    // bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: aliceblue;
    min-width: 300px;
    z-index: 13;
}

.dropdown-option {
    min-width: inherit;
    z-index: 13;
    padding: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: cadetblue;
}

.chosen-song-card {
    position: relative;
    color: white;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;

    // min-height: 400px;
}

.mat-mdc-card-content {
    padding: 0px;
}

.chosen-song-card-content {
    display: flex;
    align-items: center;
}


.album-cover-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    // padding: 25px;
}

.album-cover {
    height: 100%;
    // max-width: 100%;
}

.chosen-song-details-div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-right: 25px;
    // width: 50%;
}

.song-title {
    font-size: 32px;
    margin: 5px 0px 5px 0px;
}

.album-name {
    margin-bottom: 10px;
    font-weight: 400;
}
 
.ranking-box {
    background-color: whitesmoke;
    font-size: 32px;
    font-weight: 700;
    padding: 0px 10px;
    height: 97%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}