.album-ranking-container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .album-ranking-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://d3e29z0m37b0un.cloudfront.net/graphics/eras-tour-background.webp');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -2;
  }
  
  .album-ranking-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
  
  .media-column, .ranking-column {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
  }
  
  .media-column {
    align-self: flex-start;
    padding: 10px;
    margin-right: 20px;
  }
  
  .album-cover-small {
    width: 80px; /* Smaller size for album cover */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-right: 10px;
  }
  
  .ranking-column {
    flex: 1;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .content-div {
    margin-bottom: 20px;
    color: #333;
  }
  
  .content-div h1 {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  .content-div p {
    font-size: 1rem;
    color: #666;
  }
  
  .helper-text {
    color: #955693 !important;
    font-style: italic;
  }
  
  .album-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #344055;
    border-radius: 5px;
    background-color: #fff;
    cursor: grab;
    transition: background-color 0.3s ease;
  }
  
  .album-item:hover {
    background: linear-gradient(#e66465, #e591cf);
  }
  
  .rank-number {
    width: 30px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  
  .album-title {
    flex-grow: 1;
    padding-left: 10px;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .album-ranking-container {
      flex-direction: column;
    }
  
    .media-column, .ranking-column {
      width: 100%;
      margin: 10px 0;
    }
  
    .media-column {
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .song-item {
      width: 90%;
    }
  }