<div class="share-setlist">
  <div class="background-overlay"></div>
  <div class="content">
    <div class="header-container">
      <img class="background-graphic" src="https://all-taylor-swift-album-covers.s3.us-east-2.amazonaws.com/graphics/bracelets.webp" alt="Background Graphic">
      <div class="header-div">
        <h2 class="username">{{ username }}'s</h2>
        <h1 class="setlist-title">Dream Eras Tour Setlist</h1>
      </div>
    </div>
    <div class="era-list">
      <div *ngFor="let era of setList" class="era-item" [ngStyle]="{'background-image': 'url(' + getAlbumCover(era.era) + ')'}">
        <div class="overlay"></div>
        <h3 class="era-title">{{ era.era }}</h3>
        <ng-container *ngIf="era.era === 'Surprise Songs'; else normalSongs">
          <div class="surprise-songs">
            <div class="song-slot">
              <label>
                <i class="fas fa-guitar"></i>
              </label>
              <span>{{ getSurpriseSongs(era.songs).guitar.title }}</span>
            </div>
            <div class="song-slot">
              <label>
                <img class="piano-icon" src="https://d3e29z0m37b0un.cloudfront.net/graphics/pianoIcon.svg">
              </label>
              <span>{{ getSurpriseSongs(era.songs).piano.title }}</span>
            </div>
          </div>
        </ng-container>
        <ng-template #normalSongs>
          <ol>
            <li *ngFor="let song of era.songs">{{ song.title }}</li>
          </ol>
        </ng-template>
      </div>
    </div>
  </div>
</div>