/* Main body styling for whole application */

@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary-color: #2E2E2E;
  --secondary-color: #266DD3;
  --hover-color: #1151aa;
  --text-color: #FFFFFF;
  --logo-bg-color: aquamarine;
  --logo-text-color: #000000;
  --font-size-base: 16px;
  --padding-base: 1rem;
}

body {
    box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  background-color: #344055;

}
