<h2>All Taylor Swift Albums</h2>
<ul>
  <li *ngFor="let album of albums">
    <img [src]="album.albumCover" alt="{{ album.title }} Cover">
    <h3>{{ album.title }}</h3>
    <p>Artist: {{ album.artist }}</p>
    <p>Release Year: {{ album.releaseYear }}</p>
    <h4>Songs:</h4>
    <ul>
      <li *ngFor="let song of album.songs">
        {{ song.title }} ({{ song.duration }})
        <audio controls>
            <source [src]="song.audioSource" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
      </li>
    </ul>
  </li>
</ul>
