<div class="album-ranking-container">
    <div class="media-column">
      <img src="https://d3e29z0m37b0un.cloudfront.net/speak-now-tv.jpg" alt="Album Cover" class="album-cover">
    </div>
    <div class="ranking-column">
      <div class="content-div">
      <button class="back-btn" (click)="goBackToAlbumRankings()"><i class="fas fa-arrow-left"></i>Back</button>
        <p>My Rankings For:</p>
        <h1>Speak Now (Taylor's Version)</h1>
        <p>Released: July 7th, 2023</p>
      <p class="helper-text">Click and drag a song to reorder your list!</p>
      </div>
      <div class="song-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div class="song-item" *ngFor="let song of songs; let i = index" cdkDrag >
          <span class="rank-number">{{ i + 1 }}.</span>
          <div class="title-audio-div">
            <span class="song-title">{{ song.title }}</span>
            <audio controls [src]="song.audioSource" (error)="handleAudioError($event)" controlsList="nodownload"></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
  